@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");

.container {
    h1 {
        font-size: 70px;
        font-family: 'PT Sans', sans-serif;
    }
    h3 {
        font-size: 24px;
    }
}

#head {
    height: max-content;
    h1 {
        font-size: 70px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-left: 15px;
        font-family: 'PT Sans', sans-serif;

    }
    h3 {
        font-size: 24px;
        line-height: 31.2px;
        font-family: 'PT Sans', sans-serif;
    }

    .btn-all {
        max-width: 85%;
        margin-left: 1px;
    }

    .head {
        border: 1px solid gold;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        img {
            width: 120%;
        }
    }

    .btn1 {
        max-width: 183px;
        text-align: center;
    }
}

@media(max-width: 1382px) {
    .head-img {
        img {
            max-width: 120%;
        }
    }
}

@media(max-width: 991px) {
    #head {
        .btn1 {
            width: 100%;
            max-width: 180px;
            margin-bottom: 10px;
        }
        .content {
            flex-direction: column;
            margin-left: 50px;
            .content1 {
                width: 100%;
            }
        }
        .head-img {
            position: relative;
            right: 50px;
            width: 100%;
        }
    }
}

@media(max-width: 753px) {
    #head {
        h1 {
            padding-left: 0px;
        }
        h3 {
            margin: 0 auto;
        }
        .btn-all {
            margin-right: 15%;
            flex-wrap: nowrap;
        }
        a {
            margin-right: 10%;
        }
    }
}

@media(max-width: 590px) {
    #head {
        h1 {
            padding-left: 0px;
        }
        h3 {
            margin: 0 auto;
        }
        .btn-all {
            margin-right: 15%;
            flex-wrap: nowrap;
        }
        a {
            margin-right: 10%;
        }

        .head-img {
            img {
                position: relative;
                right: 15px;
            }
        }
    }
}

@media(max-width: 520px) {
    #head {
        h1 {
            font-size: 50px;
        }
        .content {
            width: 100%;
            margin: 0 auto;
        }
        .btn-all {
            flex-wrap: wrap;
            .btn1 {
                position: relative;
                left: 20px;
                max-width: 100%;
            }
        }
        .head-img {
            img {
                position: relative;
                left: 20px;
            }
        }
    }
}

.cont_1 {
    .block_main {
        width: max-content;
        margin: 0 auto;
        color: white;
    }
}




#block-2 {
    .el-1 {
        img {
            position: relative;
            bottom: 60px;
            right: 20px;
        }
    }
    .el-2 {
        h1 {
            padding-left: 50px;
            padding-top: 150px;
            font-size: 70px;
        }
    }

    .main-content {
        margin: 0 auto;
        max-width: 90%;
        .el-3 {
            position: relative;
            bottom: 100px;
        }
        .el-4 {
            position: relative;
            top: 100px;
            h3 {
                font-size: 18px;
            }
        }
    }
    .el-5 {
        img {
            float: right;
        }
    }
    margin-bottom: 30px;
}

@media(max-width:992px) {
    #block-2 {
        margin-bottom: 70px;

        .main-content {
            width: 90%;
            max-width: 960px;
            position: relative;
            bottom: 150px;
        }
        .container-fluid {
            height: 1200px;
        }
        .el-2 {
            h1 {
                padding-left: 0px;
            }
        }
        .container {
            flex-direction: column;
            margin: 0 auto;
            align-content: center;
            .el-3 {
                width: 90%;
                img {
                    position:relative;
                    top: 150px;
                    left: 150px;
                }
            }
            .el-4 {
                position: relative;
                margin-bottom: 200px;
                width: 100%;
            }
        }

        .elem-5 {
            position: relative;
            bottom: 150px;
        }
    }
}

@media(max-width:768px) {
    #block-2 {
        .el-1 {
            img {
                width: 95%;
            }
        }
        .el-2 {
            h1 {
                position: relative;
                bottom: 30%;
                width: max-content;

            }
        }
        .container {
            .el-3 {
                img {
                    position: relative;
                    left: 0px;
                }
            }
        }

        .elem-5 {
            .el-5 {
                img {
                    width: 35%;
                    position: relative;
                    bottom: 0px;
                }
            }
        }

        .main-content {
            position: relative;
            top: -50px;
        }
    }
}

@media(max-width:576px) {
    #block-2 {
        .el-1 {
            img {
                position: relative;
                bottom: 20px;
                right: 20px;
            }
        }
        .el-2 {
            h1 {
                font-size: 50px;
            }
            position: relative;
            right: 30px;
        }
        .container {
            .el-3 {
                img {
                    width: 90%;
                    position: relative;
                    left: 20px;
                }
            }
        }
    }
}



#block-3 {
    position: relative;
    bottom: 450px;
    width: max-content;
    margin: 0 auto;
    
}

@media(max-width:768px) {
    .block_main {
        h1 {
            font-size: 50px;
        }
    }
    .progruz {
        .trig-wrap {
            img {
                position: relative;
                right: 30px;
            }
        }
    }
}

@media(max-width:576px) {
    .block_main {
        h1 {
            font-size: 30px;
        }
    }
    .progruz {
        .trig-wrap {
            img {
                position: relative;
                right: 0px;
            }
        }
    }
}


.block-3 {
    .container-fluid {
        width: 90%;
        background-image: url('../img/Rectangle 5.png');
        border-radius: 40px;
        background-size: cover;
        z-index: 2;
        .Elipse {
            width: 250px;
        }
        .main_3 {
            height: 150px;
            img {
                position: relative;
                bottom: 40%;
                right: 50px;
                border-radius: 50%;
            }
            h1 {
                margin: 20px auto 0px;
                font-size: 70px;
                max-width: max-content;
            }
        }
        .main_3_1 {
            padding-left: 20%;            
            img {
                width: 100%;
            }
            .col {
                margin-left: 50px;
                .save-logo {
                    margin-top: 20%;
                }
            }
        }
        .main_3_2 {
            height: 150px;
            img {
                transform: rotate(180deg);
                float: right;
                position: relative;
                bottom: 5%;
                left: 5%;
                z-index: 2;
                border-radius: 50%;
            }
        }
    }
    margin-bottom: 200px;
}

@media(max-width:991px) {
    .block-3 {
        .container-fluid{
            .main_3_1 {
                padding-left: 0px;
            .col {
                margin: 0 auto;
            }
            }
        }
    }
}

@media(max-width:941px) {
    .block-3 {
        .container-fluid {
            .main_3 {
                h1 {
                    font-size: 50px;
                }
            }
        }
    }
}

@media(max-width:732px) {
    .block-3 {
        margin-bottom: 30px;
        height: max-content;
        .container-fluid {
            .Elipse {
                width:150px;
            }
            height: max-content;
            .main_3_1 {
                display: flex;
                flex-direction: column;
                img {
                    margin-left: 20%;
                }
            }
        }
    }
}

@media(max-width:467px) {
    .block-3 {
        .container-fluid {
            .main_3 {
                h1 {
                    font-size: 40px;
                }
                img {
                    top: -60px;
                    right: 12px;
                }
            }
            .main_3_1 {
                img {
                    margin-left: 0%;
                }
            }
        }
    }
}

//                                    block-4
.block-4 {
    .container {
        h1 {
            width: max-content;
            margin: 0 auto 90px;
        }
        .radial {
            height: 355px;
            width: 317px;
            margin: 0 auto 100px;
            background: linear-gradient(139deg, rgba(53,120,203,1) 0%, rgba(251,251,251,1) 80%);
            border-radius: 34px;
            box-shadow: 0px 0px 30px 2px rgba(53, 120, 203, 0.25);
            box-sizing: border-box;
            padding: 2px;
            .content-4 {
                position: relative;
                background: white;
                height: 100%;
                width: 100%;
                margin: auto;
                border-radius: 34px;
                .check {
                    margin-bottom: 84px;
                }
                .num {
                    position: absolute;
                    bottom: 220px;
                    right: 125px;
                }
                .check1 {
                    position: absolute;
                    bottom: 275px;
                    left: 50px;
                }
                h3 {
                    width: 233px;
                    height: 40px;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 21px;
                    margin-bottom: 35px;
                }
                .line1 {
                    width: 232px;
                    margin: 0 auto;
                    .col {
                        margin: 0 auto;
                    }
                    .line {
                        border-top: 1px solid #000000;
                    }
                    .premium {
                        max-width: 53px;
                        padding-left: 10px;
                        padding-right: 10px;
                        position: relative;
                        bottom: 15px;
                    }
                }
                .text {
                    width: 232px;
                    margin: 0 auto;
                    font-size: 16px;
                    line-height: 12px;
                    line-height: 21px;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 768px){
    .block-4 {
        .container {
            h1 {
                font-size: 50px;
            }
        }
    }
}
@media(max-width: 514px){
    .block-4 {
        .container {
            h1 {
                font-size: 40px;
            }
        }
    }
}
@media(max-width: 417px){
    .block-4 {
        .container {
            h1 {
                font-size: 30px;
            }
            .radial {
                width: 290px;
                .content-4 {
                    .check {
                        .check1 {
                            left: 40px
                        }
                    }
                }
            }
        }
    }
}


//                                     block-5
.block-5 {
    .container-fluid {
        h1 {
            max-width: max-content;
            font-size: 70px;
            font-weight: 700;
            line-height: 91px;
            margin: 0 auto;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
        }
        .gbo {
            max-width: max-content;
            margin: 0 auto;
        }
        .kamaz {
            .kamaz1 {
                position: relative;
                right: 5%;
                width: 75%;
                height: 116%;
            }
            .kamaz2 {
                display: none;
            }
        }
        .text {
            margin: auto 0px;
            position: relative;
            max-width: 511px;
            min-width: 300px;
            img {
                position: absolute;
                left:-80px;
                top: 25px;
            }
        }
    }
}

@media(max-width:600px) {
    .block-5 {
        width: 95%;
        margin: 0px auto 40px;
        .container-fluid {
            .kamaz {
                width: 95%;
                margin: 0 auto;
                .kamaz1 {
                    display: none;
                }
                .kamaz2 {
                    display: block;
                    width: 100%;
                    margin-bottom: 60px;
                }
            }
            .text {
                width: 85%;
                margin: 0 auto;
                img {
                    left: 45%;
                    top: -56px;
                }
            }
        }
    }
}
@media(max-width:417px) {
    .block-5 {
        .container-fluid {
            h1 {
                font-size: 60px;
            }
        }
    }
}
@media(max-width:365px) {
    .block-5 {
        .container-fluid {
            h1 {
                font-size: 50px;
            }
        }
    }
}
@media(max-width:318px) {
    .block-5 {
        .container-fluid {
            h1 {
                font-size: 40px;
            }
        }
    }
}


//                                      block-6
.block-6 {
    .container {
        margin-bottom: 30px;
        h1 {
            font-size: 40px;
            line-height: 25px;
            font-weight: 700;
            width: max-content;
            margin: 0 auto;
            margin-bottom: 88px;
        }
        .col {
            position: relative;
            border-radius: 20px;
            width: 25%;
            margin: 0 auto;
            box-shadow: 0px 4px 10px 0.5px rgba(0, 0, 0, 0.25);;
            h1 {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 700;
                line-height: 15px;
                padding-top: 10px;
                text-align: center;
                width: 60%;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                }
            img {
                position: absolute;
                bottom: 80px;
                right: 247px;
            }
        }
    }
}

@media(max-width:1399px) and (min-width:1200px) {
    .block-6 {
        .container {
            .col {
                position: relative;
                img {
                    position: absolute;
                    right: 202px;
                }
            }
        }
        
    }
}
@media(max-width:1199px) and (min-width:992px) {
    .block-6 {
        .container {
            .col {
                position: relative;
                img {
                    position: absolute;
                    right: 158px;
                    bottom: 90px;
                }
            }
        }
        
    }
}
@media(max-width:991px) {
    .block-6 {
        .container {
            .col {
                h1 {
                    font-size: 14px;
                }
                position: relative;
                img {
                    position: absolute;
                    right: 121px;
                    bottom: 176px;
                    width: 100px;
                }
            }
        }
        
    }
}
@media(max-width:767px) {
    .block-6 {
        .container {
            h1 {
                font-size: 30px;
            }
            .col {            
                h1 {
                    width: 100%;
                    font-size: 12px;
                }
                position: relative;
                img {
                    position: absolute;
                    right: 96px;
                    bottom: 254px;
                    width: 80px;
                }
            }
        }
    }
}
@media(max-width:576px) {
    .block-6 {
        .container {
            .row {
                display: flex;
                flex-direction: column;
            }
            .col {      
                width: 265px;
                height: 200px;
                margin-bottom: 20px;
                h1 {
                    width: 100%;
                    font-size: 12px;
                }
                position: relative;
                img {
                    position: absolute;
                    right: 223px;
                    bottom: 154px;
                    width: 80px;
                }
            }
        }
    }
}
@media(max-width:418px) {
    .block-6 {
        .container {
            h1 {
                font-size: 20px;
                margin-bottom: 33px;
            }
            .row {
                display: flex;
                flex-direction: column;
            }
            .col {      
                width: 265px;
                height: 200px;
                margin-bottom: 20px;
                h1 {
                    width: 100%;
                    font-size: 12px;
                }
                position: relative;
                img {
                    position: absolute;
                    right: 223px;
                    bottom: 154px;
                    width: 80px;
                }
            }
        }
    }
}

//                                      block-7
.block-7 {
    margin-bottom: 40px;
    .container-fluid {
        height: max-content;
        .vektor {
            display: inline;
            img {
                width: 453px;
                float: right;
                position: relative;
                left: 22px;
            }
        }
        .gaz {
            flex-wrap: nowrap;
            align-items: center;
            width: max-content;
            margin: 0 auto;
            position: relative;
            bottom: 132px;
            img {
                width: 100px;
            }
            h1 {
                font-size: 70px;
                line-height: 91px;
                font-weight: 700;
                position: relative;
                right: 30px;
                top: 26px;
                max-width: max-content;
            }
        }
        .gaz1 {
            max-width: 543px;
            margin: 0 auto;
            position: relative;
            bottom: 127px;
            z-index: 30;
            p {
                font-size: 18px;
                font-weight: 700;
                line-height: 23px;
                color: #0079C0;
            }
        }
        .gaz2 {
            .col {
                position: relative;
                .g0 {
                    position: relative;
                    left: 30px;
                    bottom: 50px;
                    max-width: 660px;
                }
                .g01 {
                    position: absolute;
                    bottom: -150px;
                }
                .row {
                    flex-wrap: nowrap;
                    img {
                        width: 70px;
                        max-height: 35px;
                    }
                    .g1 {
                        position: relative;
                        bottom: 5px;
                    }
                    .g2 {
                        position: relative;
                        top: 10px;
                    }
                    .g3 {
                        position: relative;
                        top: 32px;
                    }
                    p {
                        max-width: 550px;
                        width: 80%;
                        min-width: 350px;
                    }
                }
            }
        }
        .vektor2 {
            img {
                max-width: 453px;
                padding: 0px;
                margin-top: 20px;
            }
        }
    }
}

@media(max-width:1259px) {
    .block-7 {
        .container-fluid {
            .vektor {
                img {
                    width: 36%;
                }
                
            }
            .vektor2 {
                img {
                    width: 36%;
                }
                
            }
            .gaz2 {
                position: relative;
                display: flex;
                flex-direction: column;
                .col {
                    text-align: center;
                    .row {
                        max-width: 600px;
                        margin: 0 auto;
                    }
                    .g0 {
                        width: auto;
                        left: 0px;
                    }
                    .g01 {
                        bottom: -170px;
                    }
                }
            }
        }
    }
}

@media(max-width: 700px) {
    .block-7 {
        .container-fluid {
            .gaz2 {
                .col {
                    .g01 {
                        bottom: -35%;
                        width: 90%;
                    }
                    .g0 {
                        width: 98%;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .block-7 {
        .container-fluid {
            .gaz {
                h1 {
                    font-size: 60px;
                }
                .col {
                    .g01 {
                        bottom: -130px;
                    }
                }
            }
            .gaz2 {
                .col {
                    .row {
                        width: 90%;
                        p {
                            min-width: 0;
                        }
                    }
                }
            }
            .vektor {
                img {
                    bottom: 34px;
                }
            }
        }
    }
}

@media(max-width: 400px) {
    .block-7 {
        .container-fluid {
            .gaz {
                h1{
                    font-size: 40px;
                }
            }
        }
    }
}


//                                         block-8

.block-8 {
    margin-bottom: 40px;
    h1 {
        font-size: 70px;
        font-weight: 700;
        line-height: 91px;
        max-width: max-content;
        margin: 0 auto 85px;
    }
    .container {
        .slider {
            .slick-prev {
                background-image: url('/img/left.png');
                width: 100px;
                height: 100px;
                z-index: 2;
                left: -52px;
            }
            .slick-prev::before {
                content: none;
            }

            .slick-next {
                background-image: url('/img/right.png');
                width: 100px;
                height: 100px;
                z-index: 2;
                right: -50px;

            }
            .slick-next::before {
                content: none;
            }
            .slider-element {
                max-width: 295px;
                height: 424px;
                box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
                border-radius: 34px;
                margin: 0px 30px;
                .row {
                    position: relative;
                    img {
                        position: relative;
                        left: -15px;
                        bottom: 10px;
                        max-width: 200%;
                        width: 110%;
                        // margin-bottom: 23px;
                    }
                    p {
                        max-width: 200px;
                        margin: 0 auto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: center;
                    }
                }
                .content {
                    p {
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }
}



//                                          block-9

.block-9 {
    overflow: hidden;
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;
    z-index: 6;
   
    h1 {
        margin-bottom: 30px;
    }
    .reviews {
        .slider_reviews {
            margin: 0px 60px;
            h3 {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
            padding: 26px 56px;
            background: white;
            width: 604px;
            height: 233px;
            border-radius: 30px;
            .face {
                p {
                    color: #C0C0C0;
                }
            }
        }
    }
}


.block-10 {
    overflow: hidden;
    background-color: rgba(237, 238, 240, 0.72);
    .container{
        background-image: url(../img/background_calc.svg);
        background-size: 100%;
        background-position: bottom;
        padding-bottom: 60px;
        background-repeat: no-repeat;
        padding: 45px 45px 60px 45px;
        top: -10px;
        z-index: 3;
        h1 {
            font-size: 47px;
            font-weight: 700;
            line-height: 51px;
            span {
                color: #5599EE;
            }
            margin-bottom: 82px;
        }
            .switch {
                position: relative;
                display: inline-block;
                width: 96px;
                height: 34px;
            }
            
            .switch input {display:none;}
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #2196F3;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked + .slider {
                background-color: #ccc;
            }
            
            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked + .slider:before {
                -webkit-transform: translateX(60px);
                -ms-transform: translateX(60px);
                transform: translateX(60px);
            }
            
            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }
            
            .slider.round:before {
                border-radius: 50%;
            }
    }
}


.block-12 {
    background-color:rgba(237, 238, 240, 0.72);
    h1 {
        max-width: max-content;
        margin: 0px auto 220px;
    }
    .container {
        z-index: 2;
        .content {
            .documents {
                img {
                    width: 82%;
                    height: 50%;
                }
            }
        }
    }
    .polka {
        position: relative;
        bottom: 475px;
        z-index: 0;
    }
    .polka::before {
        content: '';
                background-image: url('../img/alloro\ 5.png');
                background-repeat: no-repeat;
                background-size: 100%;
                position: absolute;
                height: 440px;
                width: 469px;
                margin-left: 69%;
                bottom: 77%;
                border: 1px solid red;
    }
    .polka::after {
        content: url('../img/alloro\ 4.png');
            position: relative;
            bottom: 166px;
    }
}