@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0aEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0OqtKA.ttf) format('truetype');
}
.container h1 {
  font-size: 70px;
  font-family: 'PT Sans', sans-serif;
}
.container h3 {
  font-size: 24px;
}
#head {
  height: max-content;
}
#head h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 15px;
  font-family: 'PT Sans', sans-serif;
}
#head h3 {
  font-size: 24px;
  line-height: 31.2px;
  font-family: 'PT Sans', sans-serif;
}
#head .btn-all {
  max-width: 85%;
  margin-left: 1px;
}
#head .head {
  border: 1px solid gold;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
#head .head img {
  width: 120%;
}
#head .btn1 {
  max-width: 183px;
  text-align: center;
}
@media (max-width: 1382px) {
  .head-img img {
    max-width: 120%;
  }
}
@media (max-width: 991px) {
  #head .btn1 {
    width: 100%;
    max-width: 180px;
    margin-bottom: 10px;
  }
  #head .content {
    flex-direction: column;
    margin-left: 50px;
  }
  #head .content .content1 {
    width: 100%;
  }
  #head .head-img {
    position: relative;
    right: 50px;
    width: 100%;
  }
}
@media (max-width: 753px) {
  #head h1 {
    padding-left: 0px;
  }
  #head h3 {
    margin: 0 auto;
  }
  #head .btn-all {
    margin-right: 15%;
    flex-wrap: nowrap;
  }
  #head a {
    margin-right: 10%;
  }
}
@media (max-width: 590px) {
  #head h1 {
    padding-left: 0px;
  }
  #head h3 {
    margin: 0 auto;
  }
  #head .btn-all {
    margin-right: 15%;
    flex-wrap: nowrap;
  }
  #head a {
    margin-right: 10%;
  }
  #head .head-img img {
    position: relative;
    right: 15px;
  }
}
@media (max-width: 520px) {
  #head h1 {
    font-size: 50px;
  }
  #head .content {
    width: 100%;
    margin: 0 auto;
  }
  #head .btn-all {
    flex-wrap: wrap;
  }
  #head .btn-all .btn1 {
    position: relative;
    left: 20px;
    max-width: 100%;
  }
  #head .btn-all .btn1.sell:hover::before {
    left: 93%;
  }
  #head .head-img img {
    position: relative;
    left: 20px;
  }
}
#block1 .block1-back2 .block1-back .container .progruz .slick-prev {
  background-image: url('/img/button-left.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
  z-index: 6;
}
#block1 .block1-back2 .block1-back .container .progruz .slick-prev::before {
  content: none;
}
#block1 .block1-back2 .block1-back .container .progruz .slick-next {
  background-image: url('/img/button-rigth.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
}
#block1 .block1-back2 .block1-back .container .progruz .slick-next::before {
  content: none;
}
#block1 .block1-back2 .block1-back .container .progruz .slick-slide img {
  margin: 0 auto;
}
.cont_1 .block_main {
  width: max-content;
  margin: 0 auto;
  color: white;
}
#block-2 {
  margin-bottom: 30px;
}
#block-2 .el-1 img {
  position: relative;
  bottom: 60px;
  right: 20px;
}
#block-2 .el-2 h1 {
  padding-left: 50px;
  padding-top: 150px;
  font-size: 70px;
}
#block-2 .main-content {
  margin: 0 auto;
  max-width: 90%;
}
#block-2 .main-content .el-3 {
  position: relative;
  bottom: 100px;
}
#block-2 .main-content .el-4 {
  position: relative;
  top: 100px;
}
#block-2 .main-content .el-4 h3 {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 23px;
}
#block-2 .el-5 img {
  float: right;
}
@media (max-width: 992px) {
  #block-2 {
    margin-bottom: 70px;
  }
  #block-2 .main-content {
    width: 90%;
    max-width: 960px;
    position: relative;
    bottom: 150px;
  }
  #block-2 .container-fluid {
    height: 1200px;
  }
  #block-2 .el-2 h1 {
    padding-left: 0px;
  }
  #block-2 .container {
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
  }
  #block-2 .container .el-3 {
    width: 90%;
  }
  #block-2 .container .el-3 img {
    position: relative;
    top: 150px;
    left: 150px;
  }
  #block-2 .container .el-4 {
    position: relative;
    margin-bottom: 200px;
    width: 100%;
  }
  #block-2 .elem-5 {
    position: relative;
    bottom: 150px;
  }
}
@media (max-width: 768px) {
  #block-2 .el-1 img {
    width: 95%;
  }
  #block-2 .el-2 h1 {
    position: relative;
    bottom: 30%;
    width: max-content;
  }
  #block-2 .container .el-3 img {
    position: relative;
    left: 0px;
  }
  #block-2 .elem-5 .el-5 img {
    width: 35%;
    position: relative;
    bottom: 0px;
  }
  #block-2 .main-content {
    position: relative;
    top: -50px;
  }
}
@media (max-width: 576px) {
  #block-2 .el-1 img {
    position: relative;
    bottom: 20px;
    right: 20px;
  }
  #block-2 .el-2 {
    position: relative;
    right: 30px;
  }
  #block-2 .el-2 h1 {
    font-size: 50px;
  }
  #block-2 .container .el-3 img {
    width: 90%;
    position: relative;
    left: 20px;
  }
}
#block-3 {
  position: relative;
  bottom: 450px;
  width: max-content;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .block_main h1 {
    font-size: 50px;
  }
  .progruz .trig-wrap img {
    position: relative;
  }
}
@media (max-width: 576px) {
  .block_main h1 {
    font-size: 30px;
  }
  .progruz .trig-wrap img {
    position: relative;
    right: 0px;
  }
}
.block-3 {
  margin-bottom: 200px;
}
.block-3 .slick-slider .slick-prev {
  background-image: url('/img/left.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  z-index: 6;
  opacity: 0.5;
}
.block-3 .slick-slider .slick-prev::before {
  content: none;
}
.block-3 .slick-slider .slick-next {
  background-image: url('/img/right.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  z-index: 6;
  opacity: 0.5;
}
.block-3 .slick-slider .slick-next::before {
  content: none;
}
.block-3 .slick-slider .slick-slide {
  width: 200px;
  height: 150px;
}
.block-3 .container-fluid {
  width: 90%;
  background-image: url('../img/Rectangle 5.png');
  border-radius: 40px;
  background-size: cover;
  z-index: 2;
}
.block-3 .container-fluid .Elipse {
  width: 250px;
}
.block-3 .container-fluid .main_3 {
  height: 150px;
}
.block-3 .container-fluid .main_3 img {
  position: relative;
  bottom: 40%;
  right: 50px;
  border-radius: 50%;
}
.block-3 .container-fluid .main_3 h1 {
  margin: 20px auto 0px;
  font-size: 70px;
  line-height: 91px;
  font-weight: 700;
  max-width: max-content;
}
.block-3 .container-fluid .main_3_1 {
  justify-content: space-between;
  align-items: center;
}
.block-3 .container-fluid .main_3_1 .draggable {
  width: 90%;
}
.block-3 .container-fluid .main_3_1 .col {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.block-3 .container-fluid .main_3_1 .col img {
  width: 100%;
}
.block-3 .container-fluid .main_3_2 {
  height: 150px;
}
.block-3 .container-fluid .main_3_2 img {
  transform: rotate(180deg);
  float: right;
  position: relative;
  bottom: 5%;
  left: 5%;
  z-index: 2;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .block-3 .container-fluid .main_3_1 {
    padding-left: 0px;
  }
  .block-3 .container-fluid .main_3_1 .col {
    margin: 0 auto;
  }
}
@media (max-width: 941px) {
  .block-3 .container-fluid .main_3 h1 {
    font-size: 50px;
  }
}
@media (max-width: 732px) {
  .block-3 {
    margin-bottom: 30px;
    height: max-content;
  }
  .block-3 .slick-slider .slick-slide {
    width: 300px;
    height: 200px;
  }
  .block-3 .container-fluid {
    height: max-content;
  }
  .block-3 .container-fluid .Elipse {
    width: 150px;
  }
  .block-3 .container-fluid .main_3_1 {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
}
@media (max-width: 467px) {
  .block-3 .container-fluid .main_3 h1 {
    font-size: 40px;
  }
  .block-3 .container-fluid .main_3 img {
    top: -60px;
    right: 12px;
  }
  .block-3 .container-fluid .main_3_1 img {
    margin-left: 0%;
  }
}
.block-4 .container h1 {
  width: max-content;
  margin: 0 auto 90px;
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
}
.block-4 .container .radial {
  height: 355px;
  width: 317px;
  margin: 0 auto 100px;
  background: linear-gradient(139deg, #3578cb 0%, #fbfbfb 80%);
  border-radius: 34px;
  box-shadow: 0px 0px 30px 2px rgba(53, 120, 203, 0.25);
  box-sizing: border-box;
  padding: 2px;
}
.block-4 .container .radial .content-4 {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 34px;
}
.block-4 .container .radial .content-4 .check {
  margin-bottom: 84px;
}
.block-4 .container .radial .content-4 .num {
  position: absolute;
  bottom: 220px;
  right: 125px;
}
.block-4 .container .radial .content-4 .check1 {
  position: absolute;
  bottom: 275px;
  left: 50px;
}
.block-4 .container .radial .content-4 h3 {
  width: 233px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 35px;
}
.block-4 .container .radial .content-4 .line1 {
  width: 232px;
  margin: 0 auto;
}
.block-4 .container .radial .content-4 .line1 .col {
  margin: 0 auto;
}
.block-4 .container .radial .content-4 .line1 .line {
  border-top: 1px solid #000000;
}
.block-4 .container .radial .content-4 .line1 .premium {
  max-width: 53px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  bottom: 15px;
}
.block-4 .container .radial .content-4 .text {
  width: 232px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 12px;
  line-height: 21px;
  text-align: center;
}
@media (max-width: 768px) {
  .block-4 .container h1 {
    font-size: 50px;
  }
}
@media (max-width: 514px) {
  .block-4 .container h1 {
    font-size: 40px;
  }
}
@media (max-width: 417px) {
  .block-4 .container h1 {
    font-size: 30px;
  }
  .block-4 .container .radial {
    width: 290px;
  }
  .block-4 .container .radial .content-4 .check .check1 {
    left: 40px;
  }
}
.block-5 .container-fluid h1 {
  max-width: max-content;
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
  margin: 0 auto;
}
.block-5 .container-fluid p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.block-5 .container-fluid .gbo {
  max-width: max-content;
  margin: 0 auto;
}
.block-5 .container-fluid .kamaz .kamaz1 {
  position: relative;
  right: 5%;
  width: 75%;
  height: 116%;
}
.block-5 .container-fluid .kamaz .kamaz2 {
  display: none;
}
.block-5 .container-fluid .text {
  margin: auto 0px;
  position: relative;
  max-width: 511px;
  min-width: 300px;
}
.block-5 .container-fluid .text img {
  position: absolute;
  left: -80px;
  top: 25px;
}
@media (max-width: 600px) {
  .block-5 {
    width: 95%;
    margin: 0px auto 40px;
  }
  .block-5 .container-fluid .kamaz {
    width: 95%;
    margin: 0 auto;
  }
  .block-5 .container-fluid .kamaz .kamaz1 {
    display: none;
  }
  .block-5 .container-fluid .kamaz .kamaz2 {
    display: block;
    width: 100%;
    margin-bottom: 60px;
  }
  .block-5 .container-fluid .text {
    width: 85%;
    margin: 0 auto;
  }
  .block-5 .container-fluid .text img {
    left: 45%;
    top: -56px;
  }
}
@media (max-width: 417px) {
  .block-5 .container-fluid h1 {
    font-size: 60px;
  }
}
@media (max-width: 365px) {
  .block-5 .container-fluid h1 {
    font-size: 50px;
  }
}
@media (max-width: 318px) {
  .block-5 .container-fluid h1 {
    font-size: 40px;
  }
}
.vopr-b {
  position: relative;
}
.vopr-b::before,
.vopr-b::after {
  content: '';
  background-color: #37393D;
  position: absolute;
  width: 22px;
  left: 94%;
  height: 2px;
  top: 32px;
  transition: all 0.3s ease 0s;
}
.vopr-b::before {
  transform: rotate(90deg);
}
.vopr-b::after {
  transform: rotate(180deg);
}
.vopr-b.active::before {
  transform: rotate(135deg);
}
.vopr-b.active::after {
  transform: rotate(223deg);
}
.block-6 .container {
  margin-bottom: 30px;
}
.block-6 .container h1 {
  font-size: 40px;
  line-height: 25px;
  font-weight: 700;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 88px;
}
.block-6 .container .col {
  position: relative;
  border-radius: 20px;
  width: 25%;
  margin: 0 auto;
  box-shadow: 0px 4px 10px 0.5px rgba(0, 0, 0, 0.25);
}
.block-6 .container .col h1 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  padding-top: 10px;
  text-align: center;
  width: 60%;
}
.block-6 .container .col p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.block-6 .container .col img {
  position: absolute;
  bottom: 80px;
  right: 247px;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .block-6 .container .col {
    position: relative;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 202px;
    bottom: 95px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .block-6 .container .col {
    position: relative;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 158px;
    bottom: 125px;
  }
}
@media (max-width: 991px) {
  .block-6 .container .col {
    position: relative;
  }
  .block-6 .container .col h1 {
    font-size: 14px;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 121px;
    bottom: 176px;
    width: 100px;
  }
}
@media (max-width: 767px) {
  .block-6 .container h1 {
    font-size: 30px;
  }
  .block-6 .container .col {
    position: relative;
  }
  .block-6 .container .col h1 {
    width: 100%;
    font-size: 12px;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 96px;
    bottom: 254px;
    width: 80px;
  }
}
@media (max-width: 576px) {
  .block-6 .container .row {
    display: flex;
    flex-direction: column;
  }
  .block-6 .container .col {
    width: 265px;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
  }
  .block-6 .container .col h1 {
    width: 100%;
    font-size: 12px;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 223px;
    bottom: 154px;
    width: 80px;
  }
}
@media (max-width: 418px) {
  .block-6 .container h1 {
    font-size: 20px;
    margin-bottom: 33px;
  }
  .block-6 .container .row {
    display: flex;
    flex-direction: column;
  }
  .block-6 .container .col {
    width: 265px;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
  }
  .block-6 .container .col h1 {
    width: 100%;
    font-size: 12px;
  }
  .block-6 .container .col img {
    position: absolute;
    right: 223px;
    bottom: 154px;
    width: 80px;
  }
}
.block-7 {
  margin-bottom: 40px;
}
.block-7 .container-fluid {
  height: max-content;
}
.block-7 .container-fluid .vektor {
  display: inline;
}
.block-7 .container-fluid .vektor img {
  width: 453px;
  float: right;
  position: relative;
  left: 22px;
}
.block-7 .container-fluid .gaz {
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  position: relative;
  bottom: 132px;
}
.block-7 .container-fluid .gaz img {
  width: 100px;
}
.block-7 .container-fluid .gaz h1 {
  font-size: 70px;
  line-height: 91px;
  font-weight: 700;
  position: relative;
  right: 30px;
  top: 26px;
  max-width: max-content;
}
.block-7 .container-fluid .gaz1 {
  max-width: 543px;
  margin: 0 auto;
  position: relative;
  bottom: 127px;
  z-index: 30;
}
.block-7 .container-fluid .gaz1 p {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #0079C0;
}
.block-7 .container-fluid .gaz2 .col {
  position: relative;
}
.block-7 .container-fluid .gaz2 .col .g0 {
  position: relative;
  left: 30px;
  bottom: 50px;
  max-width: 660px;
}
.block-7 .container-fluid .gaz2 .col .g01 {
  position: absolute;
  bottom: -150px;
}
.block-7 .container-fluid .gaz2 .col .row {
  flex-wrap: nowrap;
}
.block-7 .container-fluid .gaz2 .col .row img {
  width: 70px;
  max-height: 35px;
}
.block-7 .container-fluid .gaz2 .col .row .g1 {
  position: relative;
  bottom: 5px;
}
.block-7 .container-fluid .gaz2 .col .row .g2 {
  position: relative;
  top: 10px;
}
.block-7 .container-fluid .gaz2 .col .row .g3 {
  position: relative;
  top: 32px;
}
.block-7 .container-fluid .gaz2 .col .row p {
  max-width: 550px;
  width: 80%;
  min-width: 350px;
}
.block-7 .container-fluid .vektor2 img {
  max-width: 453px;
  padding: 0px;
  margin-top: 20px;
}
@media (max-width: 1259px) {
  .block-7 .container-fluid .vektor img {
    width: 36%;
  }
  .block-7 .container-fluid .vektor2 img {
    width: 36%;
  }
  .block-7 .container-fluid .gaz2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .block-7 .container-fluid .gaz2 .col {
    text-align: center;
  }
  .block-7 .container-fluid .gaz2 .col .row {
    max-width: 600px;
    margin: 0 auto;
  }
  .block-7 .container-fluid .gaz2 .col .g0 {
    width: auto;
    left: 0px;
  }
  .block-7 .container-fluid .gaz2 .col .g01 {
    bottom: -170px;
  }
}
@media (max-width: 700px) {
  .block-7 .container-fluid .gaz2 .col .g01 {
    bottom: -35%;
    width: 90%;
  }
  .block-7 .container-fluid .gaz2 .col .g0 {
    width: 98%;
  }
}
@media (max-width: 576px) {
  .block-7 .container-fluid .gaz h1 {
    font-size: 60px;
  }
  .block-7 .container-fluid .gaz .col .g01 {
    bottom: -130px;
  }
  .block-7 .container-fluid .gaz2 .col .row {
    width: 90%;
  }
  .block-7 .container-fluid .gaz2 .col .row p {
    min-width: 0;
  }
  .block-7 .container-fluid .vektor img {
    bottom: 34px;
  }
}
@media (max-width: 400px) {
  .block-7 .container-fluid .gaz h1 {
    font-size: 40px;
  }
}
.block-8 {
  margin-bottom: 40px;
}
.block-8 h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
  max-width: max-content;
  margin: 0 auto 85px;
}
.block-8 .container .slider .slick-list {
  height: 400px;
}
.block-8 .container .slider .slick-prev {
  background-image: url('/img/left.png');
  width: 100px;
  height: 100px;
  z-index: 2;
  left: -52px;
}
.block-8 .container .slider .slick-prev::before {
  content: none;
}
.block-8 .container .slider .slick-next {
  background-image: url('/img/right.png');
  width: 100px;
  height: 100px;
  z-index: 2;
  right: -50px;
}
.block-8 .container .slider .slick-next::before {
  content: none;
}
.block-8 .container .slider .slider-element {
  max-width: 295px;
  max-height: 424px;
  height: 367px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 0px 30px;
}
.block-8 .container .slider .slider-element .row {
  position: relative;
}
.block-8 .container .slider .slider-element .row img {
  position: relative;
  width: 295px;
  height: 265px;
  width: 100%;
  border-radius: 43px;
}
.block-8 .container .slider .slider-element .row p {
  max-width: 200px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.block-8 .container .slider .slider-element .content p {
  margin-bottom: 13px;
}
.block-9 {
  overflow: hidden;
  padding-top: 60px;
  position: relative;
  padding-bottom: 60px;
  z-index: 6;
}
.block-9 h1 {
  margin-bottom: 30px;
}
.block-9 .reviews .slick-prev {
  background-image: url('/img/button-left.png');
  width: 50px;
  height: 50px;
  z-index: 2;
  left: 40%;
  top: 277px;
}
.block-9 .reviews .slick-prev::before {
  content: none;
}
.block-9 .reviews .slick-next {
  background-image: url('/img/button-rigth.png');
  width: 50px;
  height: 50px;
  z-index: 2;
  right: 40%;
  top: 277px;
}
.block-9 .reviews .slick-next::before {
  content: none;
}
.block-9 .reviews .custom_paging {
  display: flex;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  width: max-content;
  margin: 30px auto 0px;
}
.block-9 .reviews .custom_paging li {
  display: none;
}
.block-9 .reviews .custom_paging li span {
  font-size: 21px;
  color: white;
}
.block-9 .reviews .custom_paging .slick-active {
  display: block;
}
.block-9 .reviews .slider_reviews {
  opacity: 0.4;
  margin: 0px 60px;
  padding: 26px 56px;
  background: white;
  width: 604px;
  height: 233px;
  border-radius: 30px;
}
.block-9 .reviews .slider_reviews h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.block-9 .reviews .slider_reviews p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.block-9 .reviews .slider_reviews .face .rate {
  display: flex;
}
.block-9 .reviews .slider_reviews .face img {
  border-radius: 50px;
}
.block-9 .reviews .slider_reviews .face p {
  color: #C0C0C0;
}
.block-9 .reviews .slider_reviews.slick-center {
  opacity: 1;
}
@media (max-width: 1020px) {
  .block-9 .reviews .slider_reviews {
    max-width: 604px;
  }
}
@media (max-width: 576px) {
  .block-9 .reviews .slider_reviews {
    max-width: 259px;
    height: max-content;
  }
  .block-9 .reviews .slider_reviews .face {
    flex-direction: column;
  }
}
.block-10 {
  overflow: hidden;
  background-color: rgba(237, 238, 240, 0.72);
}
.block-10 ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #37393D;
  opacity: 0.4;
  text-align: center;
}
.block-10 :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #37393D;
  opacity: 0.4;
  text-align: center;
}
.block-10 ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #37393D;
  opacity: 0.4;
  text-align: center;
}
.block-10 :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #37393D;
  opacity: 0.4;
  text-align: center;
}
.block-10 .container {
  background-image: url(../img/background_calc.svg);
  background-size: 100%;
  background-position: bottom;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  padding: 45px 45px 60px 45px;
  top: -10px;
  z-index: 3;
}
.block-10 .container input {
  border: 0;
  border-bottom: 1px solid #CDCDCD;
}
.block-10 .container h1 {
  font-size: 47px;
  font-weight: 700;
  line-height: 51px;
  margin-bottom: 82px;
}
.block-10 .container h1 span {
  color: #5599EE;
}
.block-10 .container p {
  font-size: 24px;
}
.block-10 .container .switch {
  position: relative;
  display: inline-block;
  width: 96px;
  margin: 25px 15px 35px 0px;
  height: 14px;
  bottom: -9px;
}
.block-10 .container .switch input {
  display: none;
}
.block-10 .container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #2196F3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.block-10 .container .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 50%;
  bottom: -1px;
  background-color: #2196F3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.block-10 .container input:checked + .slider {
  background-color: #fffdfd;
}
.block-10 .container input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.block-10 .container input:checked + .slider:before {
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
}
.block-10 .container .slider.round {
  border-radius: 34px;
}
.block-10 .container .slider.round:before {
  border-radius: 34px;
}
.block-10 .container input {
  outline: none;
}
.block-10 .container input:checked + .check-box {
  background-color: #5599EE;
}
.block-10 .container input:checked + .check-box::before {
  background-image: url('/img/check-mark-white.png');
}
.block-10 .container .metan {
  margin-bottom: 52px;
}
.block-10 .container .metan .row > * {
  width: 96px;
}
.block-10 .container .metan .metan-propan {
  margin-left: 44%;
  padding: auto;
}
.block-10 .container .metan .metan-propan p {
  margin: 0;
}
.block-10 .container .checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.block-10 .container .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.block-10 .container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #5599EE;
  border-radius: 5px;
}
.block-10 .container .checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.block-10 .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.block-10 .container .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.block-10 .container .checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-10 .container .range {
  width: 230px;
}
.block-10 .container p {
  width: 191px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.block-10 .container p span {
  font-weight: 400;
}
.block-10 .container .pashod {
  margin-bottom: 120px;
}
.block-10 .container .pashod .rashod1 {
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
}
.block-10 .container .pashod .rashod1 .ui-slider {
  margin: 25px 0;
  width: 230px;
  border-radius: 50px;
  box-shadow: 0px 4px 14px 5px rgba(85, 153, 238, 0.3);
  border: 1px solid #5599EE;
}
.block-10 .container .pashod .rashod1 .ui-slider .ui-slider-handle {
  outline: none;
  padding-top: 14px;
  width: 55px;
  height: 55px;
  background: #5599EE;
  color: white;
  border-radius: 50px;
  top: -200%;
  text-align: center;
}
.block-10 .container .pashod .rashod1 .ui-slider .ui-slider-range {
  background: #5599EE;
}
.block-10 .container .probeg {
  margin-bottom: 100px;
}
.block-10 .container .probeg .price p {
  text-align: center;
}
.block-10 .container .probeg .probeg1 {
  display: flex;
  flex-wrap: wrap;
}
.block-10 .container .probeg .probeg1 .ui-slider {
  width: 230px;
  margin: 25px 0;
  border-radius: 50px;
  box-shadow: 0px 4px 14px 5px rgba(85, 153, 238, 0.3);
  border: 1px solid #5599EE;
}
.block-10 .container .probeg .probeg1 .ui-slider .ui-slider-handle {
  outline: none;
  padding: 13px 0;
  width: 55px;
  height: 55px;
  background: #5599EE;
  color: white;
  border-radius: 50px;
  top: -200%;
  text-align: center;
}
.block-10 .container .probeg .probeg1 .ui-slider .ui-slider-range {
  background: #5599EE;
}
.block-10 .container .probeg .probeg1 input {
  width: 230px;
}
.block-10 .container .probeg .probeg1 p {
  width: 191px;
}
.block-10 .container .line {
  width: 100%;
  height: 2px;
  background-color: #5599EE;
  margin-bottom: 50px;
}
.block-10 .container .itog {
  margin-bottom: 50px;
}
.block-10 .container .itog .col {
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #F11C1B;
}
.block-10 .container .itog .col p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
  color: black;
}
.block-10 .container .text-center {
  margin-bottom: 100px;
}
.block-10 .container .button {
  margin-bottom: 100px;
}
.block-10 .container .button button {
  width: 308px;
  height: 60px;
  color: white;
  background-color: #5599EE;
  border-radius: 10px;
  border: 0px;
  margin: 0 auto;
}
.block-12 {
  background-color: rgba(237, 238, 240, 0.72);
}
.block-12 h1 {
  max-width: max-content;
  margin: 0px auto 220px;
}
.block-12 .container-fluid {
  position: relative;
}
.block-12 .container-fluid::before {
  content: url('../img/list1.png');
  background-size: 100%;
  position: absolute;
  right: 3px;
  width: 100%;
  padding-left: 100%;
  bottom: 77%;
}
.block-12 .container-fluid::after {
  content: '';
  background-image: url('../img/list2.png');
  background-repeat: no-repeat;
  background-size: 63%;
  max-width: 787px;
  width: 100%;
  height: 418px;
  position: relative;
  bottom: 106px;
}
.block-12 .container {
  z-index: 2;
}
.block-12 .container .content .documents .slick-prev {
  background-image: url('/img/left.png');
  width: 100px;
  height: 100px;
  z-index: 2;
  left: -52px;
}
.block-12 .container .content .documents .slick-prev::before {
  content: none;
}
.block-12 .container .content .documents .slick-next {
  background-image: url('/img/right.png');
  width: 100px;
  height: 100px;
  z-index: 2;
  right: -50px;
}
.block-12 .container .content .documents .slick-next::before {
  content: none;
}
.block-12 .container .content .documents .slider__items {
  text-align: center;
  width: max-content;
  height: max-content;
  margin: 0 60px;
}
.block-12 .container .content .documents .slider__items img {
  max-height: 515px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .block-12 .container-fluid::before {
    content: '';
    background-image: url('/img/list1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 787px;
    width: 30%;
    height: 279px;
    position: absolute;
    padding: 0;
    bottom: 77%;
  }
  .block-12 .container-fluid::after {
    bottom: 20px;
    background-size: 100%;
    width: 30%;
    height: 279px;
  }
}
@media (max-width: 850px) {
  .block-12 .container-fluid::before {
    width: 40%;
    bottom: 74%;
  }
  .block-12 .container-fluid::after {
    width: 40%;
    height: 279px;
  }
}
@media (max-width: 520px) {
  .block-12 .container .content .documents .slider__items {
    margin: 0 65px;
  }
  .block-12 .container .content .documents .slider__items img {
    width: 74%;
    margin: 0 auto;
  }
  .block-12 .container-fluid::before {
    width: 50%;
    bottom: 70%;
  }
  .block-12 .container-fluid::after {
    width: 50%;
    height: 212px;
  }
}
@media (max-width: 376px) {
  .block-12 .container .content .documents .slider__items {
    margin: 0 67px;
  }
  .block-12 .container-fluid::before {
    width: 50%;
    bottom: 60%;
  }
}
.footer {
  background: #37393D;
  height: max-content;
}
.footer input {
  outline: none;
}
.footer .container .left_content {
  margin: 27px auto 0px;
}
.footer .container .left_content .row {
  width: 248px;
  margin: 0 auto;
}
.footer .container h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  color: white;
}
.footer .container p {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  color: white;
}
.footer .container .geo p,
.footer .container .time p,
.footer .container .phone p,
.footer .container .copyright p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #737272;
}
.footer .container .logo {
  position: relative;
  max-width: 129px;
  margin-left: 10%;
}
.footer .container .logo::before {
  content: url('/img/logo.png');
  position: absolute;
  left: -42%;
}
.footer .container .geo::before {
  content: url('../img/geo.png');
  position: relative;
  top: 24px;
  left: -9px;
}
.footer .container .time::before {
  content: url('../img/clock.png');
  position: relative;
  top: 24px;
  left: -9px;
}
.footer .container .phone::before {
  content: url('../img/phone.png');
  position: relative;
  top: 24px;
  left: -9px;
}
.footer .container .phone {
  margin-bottom: 22px;
}
.footer .container .phone a {
  position: relative;
  bottom: 18px;
  left: 18px;
}
.footer .container .vk {
  margin-bottom: 10px;
}
.footer .container .vk img {
  width: 75px;
  position: relative;
  left: -22px;
}
.footer .container .copyright {
  padding: 0;
  width: max-content;
}
.footer .container .copyright p {
  padding: 0;
  margin-left: -8px;
}
.footer .container .forma {
  margin: 49px auto 20px;
  max-width: 300px;
  max-height: 373px;
  width: 300px;
  height: 373px;
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.25);
  padding: 2px;
}
.footer .container .forma h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: white;
  margin-bottom: 10px;
}
.footer .container .forma p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.footer .container .forma .forma__content {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: #37393D;
  padding: 20px 36px 30px;
}
.footer .container .forma .forma__content ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #37393D;
}
.footer .container .forma .forma__content :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #37393D;
}
.footer .container .forma .forma__content ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #37393D;
}
.footer .container .forma .forma__content :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #37393D;
}
.footer .container .forma .forma__content .input {
  background-color: #737272;
  max-height: 40px;
  border-radius: 9px;
  color: white;
  width: 90%;
  margin: 0 auto 20px;
}
.footer .container .forma .forma__content .btn {
  background-color: #5599EE;
  border-radius: 9px;
  color: white;
  width: 90%;
  margin: 0 auto;
}
.footer .container .forma .forma__content p span {
  color: #5599EE;
}
.footer .container .list {
  margin: 25px auto 0px;
  width: max-content;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #737272;
  margin-bottom: 10px;
}
.footer .container .list .list__main {
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer .container .list .list_body {
  margin-bottom: 7px;
}
.footer .container .list .list_body a {
  color: #737272;
  text-decoration: none;
}
@media (max-width: 511px) {
  .footer .container .list {
    font-size: 24px;
  }
  .footer .container p {
    font-size: 24px;
  }
  .footer .container h1 {
    font-size: 50px;
  }
  .footer .container .geo p,
  .footer .container .time p,
  .footer .container .phone p {
    font-size: 24px;
  }
}
